*.o
*.a
*.so
*.dll
*.exe
/build/
/bin/*
*.bin
*.dat
rng_reports/*_tl??_??*.txt
!rng_reports/*summary*.txt
!rng_reports/*dieharder*.txt
!rng_reports/*nist*.txt
rng_reports/testu01/bigcrush.txt
rng_reports/testu01/bigcrush.nohup.log
rng_reports/testu01/bigcrush.pid
rng_reports/testu01/bigcrush.txt
rng_reports/testu01/bigcrush.nohup.log
rng_reports/testu01/bigcrush.pid
dist/
tools/
out.hex
*.tar.gz
# local build & test artifacts
r4cs_cat
a.bin
b.bin
out.hex*
h1.txt
h2.txt
run_*_logs.zip
rng_reports/dh_*.txt
actionlint
Makefile.bak
main
