# ==== random binary dumps / captures ====
*.bin
*.zip

# ==== Windows / Visual Studio trash ====
*.exe
*.sln
*.vcproj
*.pdb
*.obj
*.dll
*.bat
mas/
w32.bat

# ==== temp / scratch ====
README.tmp
*.tmp
*.log
*.swp
